/*Heading: Google Font Nanum Myeongjo*/

/*Google Font import for Josefin Slab
@import url('https://fonts.googleapis.com/css2?family=Josefin+Slab:wght@100;300&display=swap');*/

/*Google Font import for Nanum Myeong*/
@import url('https://fonts.googleapis.com/css2?family=Nanum+Myeongjo&display=swap');

/* Google Font import for Noto Sans JP*/
@import url('https://fonts.googleapis.com/css2?family=Noto+Sans+JP:wght@300&display=swap');

aside,
footer,
header,
nav,
section {
  display: block;
}

html {
  font-family: sans-serif;
  -ms-text-size-adjust: 100%;
  -webkit-text-size-adjust: 100%;
}

body {
  background: linear-gradient(to bottom, transparent, #6cd0e8, transparent, #F5E4D2);
  color: #305B72;
  margin: 1em;
  font-family: "Noto Sans JP", Tahoma, Geneva, Helvetica, Arial, sans-serif;
  font-size: 16px;
  line-height: 1.75em;
  /*z-index: -1;*/
}

h1 {
  color: #305B72;
  font-family: 'Nanum Myeongjo', Georgia, serif;
  font-size: 80px;
  font-weight: 50em;
  line-height: 200%;
  
}
h2 {
  color: #215c3d;
  font-size: 30px;
  font-style: italic;
  font-weight: 40em;
  padding: 2em;
}
h3 {
  color: #215c3d;
  font-family: 'Nanum Myeongjo', Georgia, serif;
  font-size: 40px;
  font-weight: 30em;
  line-height: 1.25em;
  margin: 0.5em 0;
}

header {
  margin: 0 auto;
  max-width: 100%;
  height: 300px;
  max-width: 100%;
  text-align: center;
  top: 0;
  height: 100%;
  background-image: url(https://cdn.glitch.com/8bc641d4-998c-46b8-8669-2a3be0f896fa%2FWindow_Shutters_clip_art.svg?v=1604082897024), url(https://cdn.glitch.com/8bc641d4-998c-46b8-8669-2a3be0f896fa%2F1364063978.svg?v=1604095977882);
  background-repeat: no-repeat;
  background-position: center;
  background-size: contain;
  border: 1em solid;
  border-color: rgba(48,91,114);
  /*position: relative;*/
  /*z-index: 0;*/
 }

 .sidebar{
  background-color: aquamarine;
  position: absolute;
  z-index: 2; /* put .green-box above .dashed-box */
  background: lightgreen;
  width: 80%;
  left: 6%;
  top: 600px;
  height: 7em;
  opacity: 0.9;
  padding: 3em; 
}

.page-wrapper {
  background-color: rgba(255,255,255, 0.9);
  padding: 3em; 
}

a {
  font-family: 'Nanum Myeongjo', Georgia, serif;
  font-size: 20px;
  font-weight: 50em;
  text-decoration: none;
}

a:focus {
  outline: thin dotted;
}

a:active,
a:hover {
  outline: 0;
  text-decoration: underline wavy #305B72;
}

#zen-summary.summary{
  background-color: white; 
  padding-top: 60em; 
}

.summary {
  
  border-top: 20px inset #6cd0e8;
  background-color: white; 
}

.preamble {
 
  border-top: 20px inset #6cd0e8;
  z-index: 4;
  background-color: Yellow;
}

.explanation {
  
  border-top: 20px inset #6cd0e8;
  background-color: red;
}

.participation {
 
  border-top: 20px inset #6cd0e8;
  background-color: green;
}

.benefits {
  
  border-top: 20px inset #6cd0e8;
  background-color: blue;
  }

.requirements {
  
  border-top: 20px inset #6cd0e8;
  background-color: pink;
}

.supporting footer {
  background-color: black;
  height: 100%;
  max-width: 100%;
  text-align: center;
  padding: 2em;
  border-top: 20px inset #6cd0e8;
 }