/*Google Font import for Nanum Myeong*/
@import url("https://fonts.googleapis.com/css2?family=Nanum+Myeongjo&display=swap");
/* Google Font import for Noto Sans JP*/
@import url("https://fonts.googleapis.com/css2?family=Noto+Sans+JP:wght@300&display=swap");
aside,
footer,
header,
nav,
section {
  display: block;
}

html {
  font-family: sans-serif;
  -ms-text-size-adjust: 100%;
  -webkit-text-size-adjust: 100%;
}

body {
  color: #305B72;
  font-family: "secondary-font", Tahoma, Geneva, Helvetica, Arial, sans-serif;
  font-size: 16px;
  line-height: 1.75em;
  background: -moz-linear-gradient(top, #6cd0e8 0%, #F5E4D2 100%);
  background: -webkit-gradient(linear, left top, left bottom, color-stop(0%, #6cd0e8), color-stop(100%, #F5E4D2));
  background: -webkit-linear-gradient(top, #6cd0e8 0%, #F5E4D2 100%);
  background: -o-linear-gradient(top, #6cd0e8 0%, #F5E4D2 100%);
  background: -ms-linear-gradient(top, #6cd0e8 0%, #F5E4D2 100%);
  background: linear-gradient(to bottom, transparent, #6cd0e8, transparent, #F5E4D2);
}

h1 {
  color: #305B72;
  font-family: "$primary-font", Georgia, serif;
  font-size: 60px;
  font-weight: bolder;
  text-align: left;
  line-height: 1em;
}

h2 {
  color: #215c3d;
  font-size: 22px;
  font-style: italic;
  font-weight: lighter;
}

h3 {
  color: #215c3d;
  font-family: "$primary-font", Georgia, serif;
  font-size: 40px;
  font-weight: normal;
  line-height: 1.25em;
  margin: 0.5em 0;
  text-align: left;
}

header {
  margin: 0 auto;
  max-width: 1040px;
  position: relative;
  text-align: left;
  top: 0;
  width: 100%;
}

header h1 {
  border-top: 5px solid #ffffff;
  color: #305B72;
  display: inline-block;
  min-height: 70px;
  margin: 55px auto 0;
  padding: 0 10px;
}

header h1:after {
  content: "";
  height: 2px;
  left: 0;
  margin-top: -3px;
  position: absolute;
  width: 100%;
}

header h2 {
  text-align: left;
  max-width: 695px;
  margin: -10px auto 0;
  width: 100%;
}

.page-wrapper {
  margin: 1em;
}

a {
  color: #215c3d;
  font-family: "$primary-font", Georgia, serif;
  font-size: 20px;
  font-weight: bold;
  text-decoration: none;
}

a:focus {
  outline: thin dotted;
}

a:active,
a:hover {
  color: #6cd0e8;
  outline: 0;
  font-weight: bold;
  text-decoration: underline wavy #4b4b4b;
}

.summary::before {
  content: none;
}

.summary {
  background-image: url(https://vectr.com/4keriwheeler/f1mnQjLMSU.svg?width=851&height=315&select=f1mnQjLMSUpage0);
  background-attachment: fixed;
  background-repeat: no-repeat;
  background-position: 50% 60%;
  background-size: 100%;
  width: 100%;
  padding: 100px 0 0 0;
  text-align: center;
  margin: 0 0 5em 0;
  border-top: 5px solid #ffffff;
}

.summary p:first-child {
  padding-top: 20em;
}

.preamble {
  border-top: 4px inset #6cd0e8;
}

.participation {
  border-top: 4px inset #6cd0e8;
}

.explanation {
  border-top: 4px inset #6cd0e8;
}

.benefits {
  border-top: 4px inset #6cd0e8;
}

.requirements {
  border-top: 4px inset #6cd0e8;
}

.supporting footer {
  height: 100%;
  max-width: 100%;
  text-align: center;
  padding: 2em;
  border-top: 4px inset #6cd0e8;
  background-color: rgba(108, 208, 232, 0.5);
}

aside {
  border-top: 4px inset #6cd0e8;
}

aside .wrapper {
  margin: -5px auto 0;
}

aside .wrapper li {
  list-style-type: none;
  list-style-image: url(https://cdn.glitch.com/8bc641d4-998c-46b8-8669-2a3be0f896fa%2F1364063978.svg?v=1604095977882);
}

aside .wrapper a {
  font-family: "$primary-font", Georgia, serif;
  font-size: 1.2em;
  font-weight: normal;
  text-decoration: none;
}

aside .wrapper a:focus {
  outline: thin dotted;
}

aside .wrapper a:active,
a:hover {
  color: #6cd0e8;
  outline: 0;
  font-weight: bold;
  text-decoration: underline wavy #305B72;
}

@media all and (min-width: 768px) and (max-width: 1280px) {
  aside .wrapper {
    background-color: #ffffff;
    border-top: 5px solid #edf6ff;
    margin: auto;
    max-width: 1040px;
    padding: 40px;
    position: relative;
    width: 100%;
  }

  aside .wrapper:after {
    clear: both;
    content: " ";
    display: block;
    font-size: 0;
    height: 0;
    line-height: 0;
    visibility: hidden;
    width: 0;
  }

  aside .wrapper h3 {
    color: #305B72;
    font-size: 24px;
    margin-top: 0;
  }

  aside .wrapper a {
    color: #215c3d;
  }

  aside .wrapper a.designer-name {
    color: #00374f;
  }

  aside .wrapper ul {
    list-style: none;
    padding: 0;
  }

  aside .wrapper ul li {
    margin-bottom: 12px;
  }

  aside .wrapper ul li:last-child {
    margin-bottom: 0;
  }

  aside .wrapper .design-selection {
    border-right: 2px solid #edf6ff;
    float: left;
    margin-right: 40px;
    width: 50%;
  }

  aside .wrapper .design-selection .design-name {
    display: block;
  }

  aside .wrapper .zen-resources {
    margin-top: 40px;
  }
}
/* LARGE VIEW */
@media all and (min-width: 550px) and (max-width: 1280px) {
  .page-wrapper {
    padding: 6em;
  }

  .explanation {
    border: 4px inset #305B72;
    padding: 10px 0 40px 0;
    background-color: #ffffff;
    display: grid;
    grid-template-columns: 15% 70% 15%;
    grid-template-rows: 5em 12em 12em;
  }

  .explanation h3 {
    grid-column: 2;
    grid-row: 1;
  }

  .explanation p {
    grid-column: 2;
    grid-row: 2;
  }

  .explanation p:last-child {
    grid-column: 2;
    grid-row: 3;
  }

  .explanation:before,
.explanation:after {
    content: "";
    width: 100%;
    height: 520px;
    left: 0;
    position: relative;
    display: inline-block;
    box-sizing: border-box;
    -webkit-transition: 2000ms;
    border: 3px solid rgba(0, 0, 0, 0.5);
    margin: -90px 0 0 0;
  }

  .explanation:before {
    background: url(shutter.svg);
    background-size: cover;
    grid-column: 1;
    grid-row: 2;
  }

  .explanation:after {
    background: url(shutter.svg);
    background-size: cover;
    background-position: -15vw 0;
    grid-column: 3;
    grid-row: 2;
  }

  .explanation:hover:before {
    left: -15vw;
  }

  .explanation:hover:after {
    left: 15vw;
  }

  .requirements {
    border: 4px inset #305B72;
    padding: 10px 0 40px 0;
    display: grid;
    grid-template-columns: 15% 70% 15%;
    grid-template-rows: 5em 12em 12em 12em 12em 12em;
    grid-auto-flow: row;
    background-color: #ffffff;
  }

  .requirements h3 {
    grid-column: 2;
    grid-row: 1;
  }

  .requirements p:nth-child(2) {
    grid-column: 2;
    grid-row: 2;
  }

  .requirements p:nth-child(3) {
    grid-column: 2;
    grid-row: 3;
  }

  .requirements p:nth-child(4) {
    grid-column: 2;
    grid-row: 5;
  }

  .requirements p:nth-child(5) {
    grid-column: 2;
    grid-row: 6;
  }

  .requirements p:last-child {
    grid-column: 2;
    grid-row: 7;
  }

  .requirements:before,
.requirements:after {
    content: "";
    width: 100%;
    height: 520px;
    left: 0;
    position: relative;
    display: inline-block;
    box-sizing: border-box;
    -webkit-transition: 2000ms;
    border: 3px solid rgba(0, 0, 0, 0.5);
    margin: -90px 0 0 0;
  }

  .requirements:before {
    background: url(shutter.svg);
    background-size: cover;
    grid-column: 1;
    grid-row: 3;
  }

  .requirements:after {
    background: url(shutter.svg);
    background-size: cover;
    background-position: -15vw 0;
    grid-column: 3;
    grid-row: 3;
  }

  .requirements:hover:before {
    left: -15vw;
  }

  .requirements:hover:after {
    left: 15vw;
  }
}
/* SMALL VIEW */
@media all and (min-width: 1024px) and (max-width: 1024px) {
  .header {
    height: 25em;
  }

  .summary {
    background-position: auto;
    background-size: 100%;
    padding-top: 0;
  }

  .summary p:first-child {
    padding-top: 25em;
  }

  .preamble {
    border-top: none;
    padding: 20px 0 0 0;
  }

  .design-archives h3 {
    display: none;
  }

  .design-archives nav {
    position: absolute;
    left: 0%;
    top: 50.5em;
    width: 100%;
    background: rgba(255, 255, 255, 0.5);
    padding: 5px 0 0 60px;
  }

  .design-archives li {
    display: inline;
    margin: 0;
  }

  .design-archives li.next {
    display: none;
  }

  .design-archives .viewall a,
.design-archives a::before {
    background: rgba(255, 255, 255, 0.1);
    text-decoration: none;
  }

  .design-archives .viewall a:hover,
.design-archives a:hover::before {
    background-color: rgba(255, 255, 255, 0.2);
  }
}
@keyframes moon {
  to {
    left: 120%;
    top: 0px;
  }
}
body::after {
  display: block;
  content: "";
  background: url(https://upload.wikimedia.org/wikipedia/commons/e/ee/Weather_icon_-_full_moon.svg) top left;
  background-size: cover;
  animation-name: moon;
  animation-duration: 360s;
  width: 100px;
  height: 100px;
  position: absolute;
  top: 100px;
  left: -100px;
}

p {
  padding: 0 1em;
}

/*# sourceMappingURL=keri-style.css.map */
