// color palette - these colors will be the color swatches of the Colors section

$color-1: #001A27; // Dark Blue
$color-2: #215c3d; // Dark Green
$color-3: #6cd0e8; // Turquoise
$color-4: #F5e4D2; // Almond
$color-5: white; // white

// additional colors

$success: #6fce72; // green
$alert: $color-3; // red